include AUTHORS.rst
include CONTRIBUTING.rst
include LICENSE
include README.rst
include requirements.txt

recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat

include versioneer.py
include freemocap/_version.py

# If including data files in the package, add them like:
# include path/to/data_file
