# pyproject.toml
# originally based on - https://realpython.com/pypi-publish-python-package/

[build-system]
requires = ["flit_core >=3.2,<4"]
build-backend = "flit_core.buildapi"

[project]
name = "freemocap"
readme = "README.md"
authors = [
    { name = "Skelly FreeMoCap", email = "info@freemocap.org" },
    { name = "Endurance Idehen" },
    { name = "Aaron Cherian" },
    { name = "Jonathan Samir Matthis" },
]
license = { file = "LICENSE" }
classifiers = [
    "Development Status :: 3 - Alpha",
    "License :: OSI Approved :: GNU Affero General Public License v3 or later (AGPLv3+)",
    "Intended Audience :: Developers",
    "Intended Audience :: Education",
    "Intended Audience :: Healthcare Industry",
    "Intended Audience :: Science/Research",
    "Intended Audience :: End Users/Desktop",
    "Intended Audience :: Other Audience",
    "Natural Language :: English",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Topic :: Utilities",
    "Topic :: Multimedia :: Video",
    "Topic :: Multimedia :: Video :: Capture",
    "Topic :: Multimedia :: Video :: Display",
    "Topic :: Scientific/Engineering",
    "Topic :: Scientific/Engineering :: Image Processing",
    "Topic :: Scientific/Engineering :: Visualization",
    "Topic :: Scientific/Engineering :: Human Machine Interfaces",
    "Topic :: System :: Hardware",
    "Topic :: System :: Hardware :: Universal Serial Bus (USB)",
    "Topic :: System :: Hardware :: Universal Serial Bus (USB) :: Video (UVC)",
]
keywords = [
    "camera",
    "stream",
    "video",
    "image",
    "opencv",
    "skelly",
    "freemocap",
    "motion capture",
    "markerless motion capture",
    "mocap",
    "markerless mocap",
    "markerless",
    "kinematic",
    "animation",
    "3d animation",
    "Blender",
    "Blender3d",
    "synchronization",
    "computer vision"
]

dependencies = [
    "skellycam==2024.09.1094",
    "skelly_viewer==2024.12.1026",
    "skellyforge==2024.12.1009",
    "skelly_synchronize==2024.07.1032",
    "skellytracker[all]==2024.09.1019",
    "ajc27_freemocap_blender_addon==v2025.1.1035",
    "opencv-contrib-python==4.8.*",
    "toml==0.10.2",
    "aniposelib==0.4.3",
    "libsass==0.21.0",
    "ipykernel==6.23.1",
    "plotly==5.14.1",
    "pydantic==2.*",
    "PySide6>=6.6, <6.8",
    "packaging===23.2",
]

requires-python = ">=3.10,<3.13"

dynamic = ["version", "description"]

[project.optional-dependencies]
dev = ["black", "bumpver", "isort", "pip-tools", "pytest", "pytest-cov", "flit", "flake8", "flake8-bugbear", "flake8-bandit"]

[project.packages]
freemocap = { include = ["assets"] }

[project.urls]
Homepage = "https://freemocap.org"
Documentation = "https://freemocap.github.io/documentation/"
Github = "https://github.com/freemocap/freemocap"

[tool.uv]
override-dependencies = ["opencv-python; sys_platform == 'never'"]

[tool.bumpver]
current_version = "v1.5.3"
version_pattern = "vMAJOR.MINOR.PATCH[-TAG]"
commit_message = "Bump version {old_version} -> {new_version}"
commit = true
tag = true
push = true

[tool.bumpver.file_patterns]
#"pyproject.toml" = ['current_version = "{version}"', 'version = "{version}"']
"freemocap/__init__.py" = ["{version}"]
".github/workflows/*_installer.yml" = ['export PYAPP_PROJECT_VERSION={version}']

#[tool.setuptools.dynamic]
#dependencies = {file = "requirements.txt"}

[project.scripts]
freemocap = "freemocap.__main__:main"

[tool.setuptools]
py-modules = ["freemocap"]

[tool.black]
line-length = 120

[tool.taskipy.tasks]
setup = "pre-commit install"
#test = "python -m unittest freemocap/tests/**/test_*"
installer = "./bin/installer.sh"
# This command ensures that your code is formatted appropriately
format = "black freemocap"
