ipython
numpy>=1.19
pydantic==1.9.0
uvicorn==0.16.0
fastapi==0.71.0
gunicorn==20.1.0
requests==2.27.1
pyudev==0.22.0
python-multipart==0.0.5
websockets==10.1
sqlalchemy==1.4.31
singleton-decorator==1.0.0
orjson==3.6.7
aiomultiprocess==0.9.0
pre-commit==2.17.0
pandas==1.4.2
pyqtgraph==0.12.4
pyqt6==6.3.1
pyopengl==3.1.6
mediapipe==0.8.9.1
setuptools==58.0.4
aniposelib==0.4.3
rich==12.3.0
protobuf==3.19.0
imageio
imageio-ffmpeg
pytest==7.1.2
taskipy==1.10.2
pytest-cov==3.0.0