* {
  font-family: "Dosis", sans-serif;
  /*font-size: 12px;*/
  color: #333333; }

QGroupBox {
  border: 1px solid #254342;
  border-radius: 4px;
  margin-top: 10px;
  font-weight: bold;
  background-color: #a4d6d9; }

QStatusBar {
  color: #365d5f; }

QMainWindow {
  background-color: #365d5f; }

QTabWidget::pane {
  border: 1px solid #f5f5f7;
  top: 1px;
  background: cadetblue; }

QTabBar::tab {
  border: 1px solid;
  padding: 5px;
  color: #365d5f;
  border-top-left-radius: 20px;
  border-top-right-radius: 5px;
  /*min-width: 200px;*/ }

QTabBar::tab {
  background: #f5f5f7;
  border-color: #365d5f;
  margin-bottom: -5px;
  font-weight: bolder;
  font-size: 16px; }

QTabBar::tab:selected {
  background: #365d5f;
  color: #f5f5f7;
  border-color: #f5f5f7; }

QPushButton {
  font-weight: bold;
  border-radius: 4px;
  border: 2px solid #811956;
  background-color: #961d64;
  color: #f5f5f7; }

QPushButton:disabled {
  background-color: #7983b1;
  border: 1px solid #7983b1;
  color: #1d1d1f; }

QPushButton:hover {
  border: 3px solid #f5f5f7; }

QPushButton:pressed {
  background-color: #410c2b; }

QPushButton#start_recording_button {
  font-size: 18px;
  background-color: #d95158; }

QPushButton#start_recording_button:disabled {
  background-color: #8c5454; }

QPushButton#stop_recording_button {
  font-size: 18px; }

QPushButton#stop_recording_button:enabled {
  /*font-size: 24px;*/
  border: 3px solid #d95158; }

QPushButton#process_motion_capture_button {
  font-size: 18px;
  background-color: #961d39; }

QPushButton#detect_available_cameras_button {
  font-size: 18px;
  background-color: #961d39; }

WelcomeScreenButton {
  border: 2px solid #333333;
  background-color: #365d5f;
  color: #f5f5f7;
  font-size: 24px;
  border-radius: 20px;
  padding: 10px; }

WelcomeScreenButton[recommended_next=true] {
  background-color: #d95158;
  color: #f5f5f7; }

QLabel {
  font-size: 14px;
  color: #333333; }
  QTreeView QLabel {
    color: #1d1d1f; }

QLabel:disabled {
  color: #a4d6d9; }

QLineEdit {
  border: 1px solid #29394a;
  border-radius: 4px;
  padding: 0 8px;
  color: #333333;
  background-color: #f5f5f7; }

QLineEdit:disabled {
  color: #333333;
  background-color: #687e90; }

QTreeView {
  background-color: #7983b1;
  color: #1d1d1f;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  font-size: 12px; }

QTreeView::item:has-children {
  background-color: #29394a;
  color: #f5f5f7; }

QTreeView::item:selected,
QTreeView::item:hover {
  background-color: #f5f5f7;
  color: #333333; }

LogViewWidget {
  background-color: #254342;
  color: #f5f5f7;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  padding: 8px; }

QDialog {
  background-color: cadetblue; }

QListWidget {
  background-color: #a4d6d9; }
