* {
    font-family: "Dosis", sans-serif;
    font-size: 16px;
    color: #333333;
}


QMainWindow {
    background-color: #458a87;
}

QTabWidget:pane {
    border: 1px solid #010505;
    background-color: #e8fffd;

}


QPushButton {
    /*font-size: 24px;*/

    font-weight: bold;
    border-radius: 4px;
    border: 2px solid #29394a;
    background-color: #29394a;
    color: #dddddd;
}

QPushButton:focus {
    border: 2px solid #ff40aa;
}

QPushButton:disabled {
    border: 2px solid #a0a2af;
    background-color: #a0a2af;
    color: #2d736f;
}

QPushButton:hover {
    border: 3px solid #ff40aa;
}


QLabel {

    /*font-family: "Roboto", sans-serif;*/
    /*font-weight: bold;*/
    font-size: 14px;
    color: #333333;
}

QLabel:disabled {
    color: #33594d;
}

QLineEdit {
    border: 1px solid #496482;
    border-radius: 4px;
    padding: 0 8px;
    color: #222222;
}

QLineEdit:disabled {
    color: #3c3d48;
    background-color: #687e90;
}

QRadioButton:checked {
    color: #ffd700;

}


QTreeView {
    background-color: #7983b1;
    alternate-background-color: #a3b1ed;
    color: #222222;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
}


QTreeView::item:has-children {
    background-color: '#49587d';
    color: #ffffff;
}

QTreeView::item:selected {
    background-color: #0932c2;
}

QTreeView::item:selected:active {
    background-color: #6c00e0;
}

QTreeView::item:hover {
    background-color: #378e90;
}

LogViewWidget {
    background-color: #0b2424;
    color: #1ed760;
    /*font-weight: bold;*/
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    padding: 8px;
}
