@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");


/* typepography */

.title,
h1 {
  font-size: 13px;
  font-weight: 600;
  line-height: 14px;
  /* letter-spacing: -0.43px; */
}

.text.bg {
  font-size: 12px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: -0.43px;
}

.text.bg-md {
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: -0.43px;
}

.text.md {
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  /* letter-spacing: -0.43px; */
}

.text.sm {
  font-size: 11px;
  font-weight: 500;
  line-height: 14px;
  /* letter-spacing: -0.43px; */
}