/* =========================
   RESET + GLOBAL
   ========================= */

/* base / reset */
html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 11px;
  /* base font size */
  line-height: 14px;
  /* base line height */
  letter-spacing: -0px;
  /* letter spacing base*/
  font-weight: 500;
  color: var(--gray-400);
  font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--gray-100);
  -webkit-text-size-adjust: 100%;
  /* iOS Safari */
  -ms-text-size-adjust: 100%;
  /* old IE */
  text-size-adjust: 100%;
  /* Modern browsers */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* element resets */
ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

button,
input,
select,
textarea {
  font: inherit;
  background: none;
  border: none;
  outline: none;
}

button,
.button {
  cursor: pointer;
  transform-origin: center center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* Remove arrows in Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove arrows in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

strong,
b {
  font-weight: bold;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
}