/* TOGGLE STYLES AND SHAPES */
.icon.toggle-container {
  min-width: 24px;
  height: 16px;
  border-radius: 9999px;
  padding: 2px;
  cursor: pointer;
  position: relative;
  transition: background-color var(--speed-2);
  border: 2px solid transparent;
}

.toggle-button:hover,
.modal-trigger-button:hover {
  background-color: var(--color-bg-elevated);
  transition: background-color var(--speed-2);
}

.toggle-button:active,
.modal-trigger-button:active {
  background-color: var(--color-bg-secondary);
  transition: background-color var(--speed-1);
}

.toggle-button {
  transition: background-color var(--speed-2);
}

.icon.toggle-container.off {
  border: 2px solid var(--color-border-primary);
}

.icon.toggle-container.on {
  background-color: var(--color-info-strong);
  /* green when on */
}

.icon.toggle-circle {
  /* idle state */
  width: 8px;
  height: 8px;
  background-color: var(--color-text-muted);
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: left var(--speed-2) ease-in-out;
  /* animate horizontally */
}

.icon.toggle-container.on .toggle-circle {
  left: 12px;
  /* move to far right: 24 - 8 - 3 padding = 13px */
  top: 2px;
  background-color: var(--color-bg-quaternary);
}