@import './reset.css';
@import './font.css';
@import './icons.css';
@import './color.css';
@import './animation.css';
@import './log-terminal.css';
@import './framerate.css';
@import './camera.css';
@import './checkbox.css';
@import './components.css';
@import './calibration-module.css';
@import './playback.css';
@import './tooltips.css';
@import './toggle.css';
@import './button-sm.css';

/* base / reset */


/* =========================
   UTILITIES (Tailwind-like)
   ========================= */

.overflow-hidden {
  overflow: hidden;
}

.overflow-y {
  overflow-y: auto;
}

.overflow-x {
  overflow-x: auto;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

/* ==========================
   Global Scrollbar Styling
   Applies to all scrollbars
   ========================== */

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: calc(12px - 4px);
  height: 12px;
  background-color: transparent;
}

/* Thumb */
::-webkit-scrollbar-thumb {
  border-radius: 99px;
  background-color: var(--color-border-secondary);
  cursor: grab;
  border: 2px solid var(--color-bg-secondary);
}

/* Thumb hover */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-bg-primary);
}

/* Thumb active */
::-webkit-scrollbar-thumb:active {
  background-color: var(--color-bg-primary);
  cursor: grabbing;
}

a,
a.link {
  text-decoration: underline;
  text-underline-offset: 3px;
  color: inherit;
  transition: filter var(--speed-1) ease-in-out;
}

a:hover,
a.link:hover {
  filter: brightness(0.8);
  transition: filter var(--speed-1) ease-in-out;
}

/* a:not(.ai)::after {
  content: var(--externallink-icon);
  display: inline-block;
  position: absolute;
  margin-left: 2px;
} */

/* =========================
   Z-INDEX
   ========================= */

.z-1 { z-index: 1; }
.z-2 { z-index: 2; }
.z-3 { z-index: 3; }
.z-4 { z-index: 4; }
.z-5 { z-index: 5; }
.z-6 { z-index: 6; }
.z-7 { z-index: 7; }
.z-8 { z-index: 8; }
.z-9 { z-index: 9; }
.z-10 { z-index: 10; }
.z-110i { z-index: 110!important; }
.z-111 { z-index: 111!important; }

/* =========================
   POSITIONS
   ========================= */

.pos-rel {
  position: relative;
}

.pos-abs {
  position: absolute;
}

.pos-sticky {
  position: sticky;
}
.pos-fixed {
  position: fixed;
}

/* Position helpers */

.top-0 { top: 0; }
.top-2 { top: 2px; }
.top-4 { top: 4px; }
.top-6 { top: 6px; }
.top-8 { top: 8px; }
.top-10 { top: 10px; }
.top-12 { top: 12px; }
.top-14 { top: 14px; }
.top-16 { top: 16px; }
.top-18 { top: 18px; }
.top-20 { top: 20px; }
.top-22 { top: 22px; }
.top-24 { top: 24px; }
.top-26 { top: 26px; }
.top-28 { top: 28px; }
.top-30 { top: 30px; }

.top-unset { top: unset; }
.top-50 {
  top: 50%;
  transform: translateY(-50%);
}

.left-0 { left: 0; }
.left-2 { left: 2px; }
.left-4 { left: 4px; }
.left-6 { left: 6px; }
.left-8 { left: 8px; }
.left-10 { left: 10px; }
.left-12 { left: 12px; }

.left-50 {
  left: 50%;
  transform: translateX(-50%) translateY(6px);
}

.right-0 { right: 0; }
.right-2 { right: 2px; }
.right-4 { right: 4px; }
.right-6 { right: 6px; }
.right-8 { right: 8px; }
.right-10 { right: 10px; }
.right-12 { right: 12px; }

.right-50 {
  right: 50%;
  transform: translateX(-50%) translateY(6px);
}

.bottom-0 { bottom: 0; }
.bottom-2 { bottom: 2px; }
.bottom-4 { bottom: 4px; }
.bottom-6 { bottom: 6px; }
.bottom-8 { bottom: 8px; }
.bottom-10 { bottom: 10px; }
.bottom-12 { bottom: 12px; }
.bottom-36 { bottom: 36px; }

.bottom-100 { bottom: 100%; }
.inset-0 {
  inset: 0;
}

/* =========================
   DISPLAY / FLEX
   ========================= */

.flex {
  display: flex;
}

.flex-inline {
  display: inline-flex;
}

.flex-row {
  flex-direction: row;
}

.row-reverse {
  flex-direction: row-reverse;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}
.flex-nowrap {
  flex-wrap: nowrap;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.flex-start {
  align-items: flex-start;
}

.align-content-start {
  align-content: flex-start;
}

.align-end {
  align-items: flex-end;
}

.flex-end {
  justify-content: flex-end;
}

.justify-content-space-between {
  justify-content: space-between;
}

.align-items-end {
  align-items: flex-end;
}

/* =========================
   DISPLAY / BLOCK
   ========================= */

.block {
  display: block;
}

/* =========================
   FLEX PROPORTIONS
   ========================= */

.flex-1 { flex: 1; }
.flex-2 { flex: 2; }
.flex-3 { flex: 3; }
.flex-4 { flex: 4; }
.flex-5 { flex: 5; }
.flex-6 { flex: 6; }

.flex-15 {
  flex: 1.5;
}

.flex-grow {
  flex-grow: 1;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

/* =========================
   GAPS
   ========================= */

.gap-1 { gap: 4px; }
.gap-2 { gap: 8px; }
.gap-3 { gap: 12px; }
.gap-4 { gap: 16px; }

.gap-32 { gap: 32px; }

/* =========================
   PADDING
   ========================= */

.p-0 { padding: 0px; }
.p-01 { padding: 2px; }
.p-1 { padding: 4px; }
.p-2 { padding: 8px; }
.p-3 { padding: 12px; }
.p-4 { padding: 16px; }

.pb-0 { padding-bottom: 0px; }
.pb-1 { padding-bottom: 4px; }
.pb-2 { padding-bottom: 8px; }
.pb-3 { padding-bottom: 12px; }
.pb-4 { padding-bottom: 16px; }
.pb-180 { padding-bottom: 180px; }

.pl-0 { padding-left: 0px; }
.pl-1 { padding-left: 4px; }
.pl-2 { padding-left: 8px; }
.pl-3 { padding-left: 12px; }
.pl-4 { padding-left: 16px; }

.pr-0 { padding-right: 0px; }
.pr-1 { padding-right: 4px; }
.pr-2 { padding-right: 8px; }
.pr-3 { padding-right: 12px; }
.pr-4 { padding-right: 16px; }

.pt-1 { padding-top: 4px; }
.pt-2 { padding-top: 8px; }
.pt-3 { padding-top: 12px; }
.pt-4 { padding-top: 16px; }

/* =========================
   MARGIN
   ========================= */

.m-0 { margin: 0; }
.m-1 { margin: 4px; }
.m-2 { margin: 8px; }
.m-3 { margin: 12px; }
.m-4 { margin: 16px; }


.mt-0 { margin-top: 0; }
.mt-1 { margin-top: 4px; }
.mt-2 {  margin-top: 8px; }
.mt-3 {  margin-top: 12px; }
.mt-4 {  margin-top: 16px; }

/* Margin Bottom */

.mb-0 { margin-bottom: 0; }
.mb-1 { margin-bottom: 4px; }
.mb-2 { margin-bottom: 8px; }
.mb-3 { margin-bottom: 12px; }
.mb-4 {
  margin-bottom: 16px;
}

/* Margin Top */

.mt-1 { margin-top: 4px; }
.mt-2 { margin-top: 8px; }
.mt-3 { margin-top: 12px; }
.mt-4 { margin-top: 16px; }
.mt-45 {
  margin-top: 45px;
}
/* Margin Left/Right */

.ml-1 { margin-left: 4px; }
.ml-2 { margin-left: 8px; }
.ml-auto { margin-left: auto; }

.mr-1 { margin-right: 4px; }
.mr-2 { margin-right: 8px; }

/* =========================
   WIDTHS / HEIGHTS
   ========================= */

.w-full {
  width: 100%;
}

.min-w-full {
  min-width: 100%;
}

.h-full {
  height: 100%;
}
.h-inherit {
  height: inherit;
}
.w4-inherit {
  width: inherit;
}

.h-25 {
  height: 25px;
}

.min-h-0 {
  min-height: 0;
}

.min-w-0 {
  min-width: 0;
}

.h-70 {
  height: 70px;
}

.h-100 {
  height: 100px;
}

.min-w-200 {
  min-width: 200px;
}

.max-w-350 {
  max-width: 350px;
}

/* =========================
   BORDER RADIUS
   ========================= */

.br-1 { border-radius: 4px; }
.br-1-1 { border-radius: 6px; }
.br-2 { border-radius: 8px; }
.br-3 { border-radius: 12px; }
.br-4 { border-radius: 16px; }
.br-5 { border-radius: 18px; }

/* =========================
   BORDER SIZES
   ========================= */

.border-1 {
  border-width: 1.5px;
  border-style: solid;
}

.border-2 {
  border-width: 2px;
  border-style: solid;
}

.border-3 {
  border-width: 3px;
  border-style: solid;
}

.border-4 {
  border-width: 4px;
  border-style: solid;
}

.border-5 {
  border-width: 5px;
  border-style: solid;
}

/* =========================
   OVERFLOW
   ========================= */

.overflow-hidden {
  overflow: hidden;
}
.overflow-hiddeni {
  overflow: hidden!important;
}

.overflow-visible {
  overflow: visible;
}
.overflow-visiblei {
  overflow: visible!important;
}

/* =========================
   BACKGROUND COLORS
   ========================= */

.bg-red {
  background-color: var(--color-danger);
}

.bg-blue {
  background-color: var(--color-info);
}

html,
body,
#root,
.bg-middark {
  background-color: var(--color-bg-secondary);
}

.bg-dark {
  background-color: var(--color-bg-primary);
}

.bg-darkgray {
  background-color: var(--color-bg-tertiary);
}

.bg-gray {
  background-color: var(--color-bg-elevated);
}

.bg-pink {
  background-color: var(--color-success);
}

.bg-white {
  background-color: var(--color-text-primary);
}

/* =========================
   TEXT
   ========================= */

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}



/* =========================
   HELPERS
   ========================= */

.hidden {
  display: none;
}

/* =========================
   ROOT VARIABLES
   ========================= */

:root {
  --form-control-disabled: var(--color-text-disabled);

  /*
    MISSING SEMANTIC TOKENS YOU SHOULD ADD
    ======================================

    These are currently still semantic gaps in the system:

    --color-link
    --color-link-hover

    --color-scrollbar-thumb
    --color-scrollbar-thumb-hover

    --color-shadow-elevated

    Recommended:
    --color-link: var(--color-info);
    --color-link-hover: var(--metric-min-dark);

    --color-scrollbar-thumb: var(--color-border-secondary);
    --color-scrollbar-thumb-hover: var(--color-bg-primary);

    --shadow-elevated-sharp: 0px 7px 15px rgba(0,0,0,0.5);

    Also:
    Shadow rgba values should become tokenized if you want 100% semantic compliance.
  */
}

/* =========================
   FORM CONTROL
   ========================= */

.form-control {
  font-family: system-ui, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.1;

  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}

.form-control + .form-control {
  margin-top: 1em;
}

.form-control--disabled {
  color: var(--form-control-disabled);
  cursor: not-allowed;
}

/* =========================
   ELEVATION
   ========================= */

.elevated-sharp {
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.5);
}

/* =========================
   TEXT HELPERS
   ========================= */

.text-nowrap {
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.text-wrap {
  overflow-wrap: break-word;
  text-wrap: wrap;
  text-wrap-mode: wrap;
}