name: Coverage with Nox

on:
  workflow_dispatch:
  pull_request:
    branches: [ main, development ]
    paths:
        - 'freemocap/**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Free up disk space
        uses: jlumbroso/free-disk-space@main
        with:
          large-packages: false
          docker-images: false
          swap-storage: false
      - name: Set up Python 3.x
        uses: wntrblm/nox@2022.8.7
        with:
          python-versions: "3.12"
      - name: Install libegl1
        run: |
          sudo apt-get update
          sudo apt-get install libegl1-mesa
      - name: Run noxfile
        run: |
          nox --session coverage
