name: Run Diagnostics

on:
  push: 
    branches: ["main"]

jobs:
  run-diagnostics:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install uv
          uv venv
          uv pip install -e.

      - name: Print a message
        run: echo "Success!"
      

