name: Create Linux Installer

on:
  workflow_dispatch:
  push:
    tags: [ v* ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: System Info
        run: |
          uname -a || true
          lsb_release -a || true
          gcc --version || true
          env
      - name: Set up Python 3.x
        uses: actions/setup-python@v4
        with:
          # Semantic version range syntax or exact version of a Python version
          python-version: '3.11'
          # Optional - x64 or x86 architecture, defaults to x64
          architecture: 'x64'
          cache: 'pip'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install .
      - name: Freeze dependencies to requirements.txt
        run: |
          pip freeze > ${{ github.workspace }}/requirements.txt
          cat ${{ github.workspace }}/requirements.txt
      - name: Remove opencv-python dependency
        run: |
          sed '/opencv-python/d' requirements.txt > tmp && mv tmp requirements.txt
      - name: Change freemocap dependency
        run: |
          sed 's|freemocap @ file:///Users/runner/work/freemocap/freemocap|freemocap==1.4.7|' requirements.txt > tmp && mv tmp requirements.txt
      - name: Download PyApp
        run: |
          curl -L -o pyapp.zip "https://github.com/ofek/pyapp/releases/download/v0.22.0/source.zip"
      - name: Unzip PyApp
        run: |
          unzip pyapp.zip
      - name: Create Linux Installer
        run: |
          cd ${{ github.workspace }}/pyapp-v0.22.0
          export PYAPP_PROJECT_NAME=freemocap
          export PYAPP_PROJECT_VERSION=v1.4.7
          export PYAPP_PYTHON_VERSION=3.11
          export PYAPP_PROJECT_DEPENDENCY_FILE=${{ github.workspace }}/requirements.txt
          export PYAPP_EXEC_SCRIPT=${{ github.workspace }}/freemocap/__main__.py
          export PYAPP_PIP_EXTRA_ARGS=--no-deps
          export PYAPP_UV_ENABLED=true
          export PYAPP_EXPOSE_ALL_COMMANDS=true
          cargo build --release
          cargo install pyapp --force --root ${{ github.workspace }}
          cd ${{ github.workspace }}
          mv ${{ github.workspace }}/bin/pyapp freemocap_app && chmod +x freemocap_app
          tar -czvf freemocap_app.tar.gz freemocap_app
      - uses: actions/upload-artifact@v4
        with:
          name: freemocap_linux_app
          path: freemocap_app.tar.gz
