name: Create Mac Installer

on:
  workflow_dispatch:
  push:
    tags: [ v* ]

jobs:
  build:
    runs-on: macos-13
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: System Info
        run: |
          uname -a || true
          gcc --version || true
          env
      - name: Set up Python 3.x
        uses: actions/setup-python@v4
        with:
          # Semantic version range syntax or exact version of a Python version
          python-version: '3.11'
          # Optional - x64 or x86 architecture, defaults to x64
          architecture: 'x64'
          cache: 'pip'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e .
      - name: Freeze dependencies to requirements.txt
        run: |
          pip freeze > ${{ github.workspace }}/requirements.txt
      - name: Remove opencv-python dependency
        run: |
          sed '/opencv-python/d' requirements.txt > tmp && mv tmp requirements.txt
      - name: Download PyApp
        run: |
          curl -L -o pyapp.zip "https://github.com/ofek/pyapp/releases/download/v0.22.0/source.zip"
      - name: Unzip PyApp
        run: |
          unzip pyapp.zip
      - name: Create Mac Installer
        run: |
          cd ${{ github.workspace }}/pyapp-v0.22.0
          export PYAPP_PROJECT_NAME=freemocap
          export PYAPP_PROJECT_VERSION=v1.5.3
          export PYAPP_PYTHON_VERSION=3.11
          export PYAPP_PROJECT_DEPENDENCY_FILE=${{ github.workspace }}/requirements.txt
          export PYAPP_EXEC_SCRIPT=${{ github.workspace }}/freemocap/__main__.py
          export PYAPP_PIP_EXTRA_ARGS=--no-deps
          export PYAPP_EXPOSE_ALL_COMMANDS=true
          cargo build --release
          cargo install pyapp --force --root ${{ github.workspace }}
          cd ${{ github.workspace }}
          mv ${{ github.workspace }}/bin/pyapp freemocap_app
      - name: Bundle Mac App
        run: |
          mkdir -p ${{ github.workspace }}/freemocap.app/Contents/MacOS
          mkdir -p ${{ github.workspace }}/freemocap.app/Contents/Resources
          mkdir -p ${{ github.workspace }}/freemocap.app/Contents/Frameworks
          chmod +x freemocap_app && cp freemocap_app ${{ github.workspace }}/freemocap.app/Contents/MacOS
          cp ${{ github.workspace }}/freemocap/assets/mac_app_files/freemocap.icns ${{ github.workspace }}/freemocap.app/Contents/Resources
          cp ${{ github.workspace }}/freemocap/assets/mac_app_files/Info.plist ${{ github.workspace }}/freemocap.app/Contents
          tar -czvf freemocap.tar.gz freemocap.app
      - uses: actions/upload-artifact@v4
        with:
          name: freemocap_mac_app
          path: freemocap.tar.gz