name: Upload Python Package

on:
    push:
      branches:
        - missingno

jobs:
  pypi-publish:
    name: upload release to PyPI
    runs-on: ubuntu-latest
    environment: release
    permissions:
      # IMPORTANT: this permission is mandatory for trusted publishing - https://docs.pypi.org/trusted-publishers/using-a-publisher/
      id-token: write
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: '3.11'

    - name: Install LLVM
      run: sudo apt-get update && sudo apt-get install -y llvm


    - name: Install Poetry
      run: |
        curl -sSL https://install.python-poetry.org | python3 -

    - name: Cache Poetry dependencies
      uses: actions/cache@v2
      with:
        path: ~/.cache/pypoetry
        key: ${{ runner.os }}-poetry-${{ hashFiles('**/poetry.lock') }}
        restore-keys: |
          ${{ runner.os }}-poetry-

    - name: Update dependencies
      run: poetry update

    - name: Install dependencies
      run: poetry install

    - name: Build package
      run: poetry build

    - name: Publish package to pypi
      uses: pypa/gh-action-pypi-publish@release/v1
