name: Freemocap Tests

on:
  pull_request:
    branches: [ main ]
    paths:
      - freemocap

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.x
        uses: actions/setup-python@v4
        with:
          # Semantic version range syntax or exact version of a Python version
          python-version: '3.9'
          # Optional - x64 or x86 architecture, defaults to x64
          architecture: 'x64'
          cache: 'pip'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Run Tests with Pytest
        run: |
          pip install pytest
          pytest freemocap/tests/
      - name: Upload pytest test results
        uses: actions/upload-artifact@v3
        with:
          name: pytest-results-3.9
          path: junit/test-results-3.9.xml
        # Use always() to always calculate_center_of_mass this step to publish test results when there are test failures
        if: ${{ always() }}