name: Freemocap Tests

on:
  workflow_dispatch:
  pull_request:
    branches: [ main, development ]
    paths:
      - 'freemocap/**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: System Info
        run: |
          uname -a || true
          lsb_release -a || true
          gcc --version || true
          env
      - name: Set up Python 3.x
        uses: actions/setup-python@v4
        with:
          # Semantic version range syntax or exact version of a Python version
          python-version: '3.10'
          # Optional - x64 or x86 architecture, defaults to x64
          architecture: 'x64'
          cache: 'pip'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e .
      - name: Fix OpenCV conflict
        run: |
          pip uninstall -y opencv-python opencv-contrib-python
          pip install opencv-contrib-python==4.8.1.78
      - name: Install libegl1
        run: |
          sudo apt-get update
          sudo apt-get install -y libegl1-mesa
      - name: Run Tests with Pytest
        run: |
          pip install pytest
          pytest freemocap/tests
