name: Version Testing with Nox

on:
  workflow_dispatch:
  pull_request:
    branches: [ main ]
    paths: 
      - 'pyproject.toml'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.x
        uses: wntrblm/nox@2022.8.7
        with:
          python-versions: "3.8, 3.9, 3.10, 3.11"
      - name: Install libegl1
        run: |
          sudo apt-get update
          sudo apt-get install libegl1-mesa
      - name: Run noxfile
        run: |
          nox --session test coverage
